<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id = "dataHandler" class="ru.innopolis.ioctest.handle.DataHandler" >
        <constructor-arg name="downloader" ref="downloader"/>
        <constructor-arg name="uploader" ref="uploader"/>
        &lt;!&ndash;<property name="downloader" ref="downloader"/>
        <property name="uploader" ref="uploader"/>&ndash;&gt;
    </bean>

    <bean id = "uploader" class="ru.innopolis.ioctest.io.FileUploader"/>

    <bean id = "downloader" class = "ru.innopolis.ioctest.io.FileDownloader"/>-->
    <!--<context:component-scan base-package="ru.innopolis"/>-->

    <!--<bean id = "dataHandler" class="ru.innopolis.ioctest.handle.DataHandler" autowire="byType" />
    <bean id = "uploader" class="ru.innopolis.ioctest.io.FileUploader"/>
    <bean id = "downloader" class = "ru.innopolis.ioctest.io.FileDownloader"/>-->

    <!--<context:component-scan base-package="ru.innopolis"/>-->

    <!--<bean id="groceryService" class="grocerystore.services.concrete.GroceryService" scope="prototype">
        <constructor-arg name="groceryHandler" ref="groceryHandler"/>
        <constructor-arg name="listGroceryHandler" ref="listGroceryHandler"/>
        <constructor-arg name="groceryNameValidator" ref="groceryNameValidator"/>
    </bean>

    <bean id="groceryHandler" class="grocerystore.domain.concrete.GrocerySql"/>
    <bean id="listGroceryHandler" class="grocerystore.domain.concrete.ListGrocerySql"/>
    <bean id="groceryNameValidator" class="grocerystore.services.validators.concrete.GroceryNameValidator"/>-->



</beans>

