<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <resource-ref>
        <res-ref-name>jdbc/mysqldb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

<!--<servlet>
    <servlet-name>GroceryListController</servlet-name>
    <servlet-class>OldControllers.GroceryControllers.GroceryListController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>GroceryListController</servlet-name>
    <url-pattern>/GroceryListController</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>OldControllers.AccountControllers.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>OldControllers.AccountControllers.Signin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroceryListAdmin</servlet-name>
        <servlet-class>OldControllers.GroceryControllers.GroceryListAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroceryListAdmin</servlet-name>
        <url-pattern>/GroceryListAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>OldControllers.AccountControllers.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartAdd</servlet-name>
        <servlet-class>OldControllers.CartController.CartAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartAdd</servlet-name>
        <url-pattern>/CartAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartList</servlet-name>
        <servlet-class>OldControllers.CartController.CartList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartList</servlet-name>
        <url-pattern>/CartList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartRemove</servlet-name>
        <servlet-class>OldControllers.CartController.CartRemove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartRemove</servlet-name>
        <url-pattern>/CartRemove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderAdd</servlet-name>
        <servlet-class>OldControllers.OrderControllers.OrderAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderAdd</servlet-name>
        <url-pattern>/OrderAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderEdit</servlet-name>
        <servlet-class>OldControllers.OrderControllers.OrderEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderEdit</servlet-name>
        <url-pattern>/OrderEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>OldControllers.OrderControllers.OrderList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/OrderList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderListAdmin</servlet-name>
        <servlet-class>OldControllers.OrderControllers.OrderListAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListAdmin</servlet-name>
        <url-pattern>/OrderListAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroceryAdd</servlet-name>
        <servlet-class>OldControllers.GroceryControllers.GroceryAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroceryAdd</servlet-name>
        <url-pattern>/GroceryAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroceryEdit</servlet-name>
        <servlet-class>OldControllers.GroceryControllers.GroceryEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroceryEdit</servlet-name>
        <url-pattern>/GroceryEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroceryDel</servlet-name>
        <servlet-class>OldControllers.GroceryControllers.GroceryDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroceryDel</servlet-name>
        <url-pattern>/GroceryDel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MappingError</servlet-name>
        <servlet-class>grocerystore.controllers.MappingError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappingError</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->



    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>grocerystore.filters.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>This parameter is for testing.</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>grocerystore.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/GroceryListAdmin</url-pattern>
        <url-pattern>/GroceryAdd</url-pattern>
        <url-pattern>/GroceryEdit</url-pattern>
        <url-pattern>/GroceryDel</url-pattern>
        <url-pattern>/CartAdd</url-pattern>
        <url-pattern>/CartList</url-pattern>
        <url-pattern>/CartRemove</url-pattern>
        <url-pattern>/OrderAdd</url-pattern>
        <url-pattern>/OrderList</url-pattern>
        <url-pattern>/OrderEdit</url-pattern>
        <url-pattern>/OrderListAdmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/GroceryListAdmin</url-pattern>
        <url-pattern>/GroceryAdd</url-pattern>
        <url-pattern>/GroceryEdit</url-pattern>
        <url-pattern>/GroceryDel</url-pattern>
        <url-pattern>/OrderEdit</url-pattern>
        <url-pattern>/OrderListAdmin</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>grocerystore</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>grocerystore</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>