<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:mvc="http://www.springframework.org/schema/mvc"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


<!-- enable use-expressions -->
    <!--<global-method-security secured-annotations="enabled" />
    <mvc:annotation-driven />-->

    <http>
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/CartList" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/CartAdd" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/CartRemove" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/GroceryList" access="permitAll" />
        <intercept-url pattern="/GroceryListAdmin" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/GroceryEdit" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/GroceryDel" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/GroceryAdd" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/OrderList" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/OrderListAdmin" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/OrderEdit" access="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')"/>
        <intercept-url pattern="/OrderAdd" access="hasRole('ROLE_USER')"/>
        <access-denied-handler error-page="/Deny" />
        <csrf disabled="true"/>
        <form-login
                login-page="/Login"
                username-parameter="email"
                password-parameter="password"
                default-target-url="/Index"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>

    <b:bean id="encoder" class="grocerystore.services.security.GrocerystorePasswordEncoder" />
    <b:bean id="userDetailsService" class="grocerystore.services.security.UserDetailsServiceImpl">
        <b:constructor-arg name="user" ref="userSql"/>
    </b:bean>
    <b:bean id="userSql" class="grocerystore.domain.concrete.UserSql"/>


</b:beans>